
[Unit]
Description=StarryskyQueryEngine
After=network.target

[Service]
ExecStart=npm run start
Restart=always
User=root
WorkingDirectory=/opt/StarryskyQueryEngine
StandardOutput=append:/var/log/starrysky.log
StandardError=append:/var/log/starrysky.log

[Install]
WantedBy=multi-user.target
