
[Unit]
Description=StarryskyQueryEngine
After=network.target

[Service]
ExecStart=yarn start
Restart=always
User=root
WorkingDirectory=/opt/StarryskyQueryEngine
StandardOutput=append:/var/log/starrysky.log
StandardError=append:/var/log/starrysky.log
EnvironmentFile=/opt/StarryskyQueryEngineDatabase/env

[Install]
WantedBy=multi-user.target
